!!! 5
%html
  %head
    %title Example
  :css
    body {
      width: 40em;
      margin: 0 auto;
      font-family: Roboto;
    }
%body
  %h2
    Example - konfigurowanie konta
    %span(style="font-style: italic;")
      #{ @subdomain }
  %p
    Dane niezbędne do zalogowania się będą wysłane e-mailem.
  %p
    Jeśli konto masz już założone wtedy prawdopodobnie wpisałeś niepoprawny adres strony.
