.row
  .col-md-6
    .panel
      .panel-body
        .row
          .col-md-5.text-center
            .icon-object.border-success-400.text-success
              %i.icon-book
            %h5.text-semibold Instrukcja użytkownika
          .col-md-7
            %p.mb-15
              Aplikacja Example jest łatwa w obsłudze. Jednak przed rozpoczęciem pracy
              zalecamy zapoznanie się z poniższymi odpowiedziami na najczęstsze pytania.
              Dzięki temu będziecie mogli w 100% wykorzystać potencjał swoich prezentacji.
  .col-md-6
    .panel
      .panel-body
        .row
          .col-md-5.text-center
            .icon-object.border-warning-400.text-warning
              %i.icon-lifebuoy
            %h5.text-semibold Wsparcie użytkowników
          .col-md-7
            %p.mb-15
              W przypadku problemów z obsługą aplikacji prosimy o kontakt emailowy
              na adres <a href="mailto:pomoc@example.com" target="_blank">pomoc@example.com</a>.
              W ciągu 24h otrzymacie odpowiedź. Prosimy o dokładny opis problemu.
              Ułatwi to nam szybkie wysłanie odpowiedzi.

%h4.text-center.content-group
  Najczęściej zadawane pytania
  %small.display-block
    Zapoznaj się z odpowiedziami zanim skontaktujesz się ze wsparciem

.row
  .col-lg-6

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqQuickStart")
              %i.icon-help.position-left.text-slate
              Jak szybko zacząć pracę?
        .panel-collapse.collapse#rwc-FaqQuickStart
          .panel-body
            %p
              Na początku należy wprowadzić do aplikacji hierarchię służbową Twojej
              firmy. Należy dodać np. stanowiska dyrektor, kilku kierowników regionalnych i
              do każdego regionu dodać obszary poszczególnych przedstawicieli.
            %p
              Mając określoną strukturę firmy, można już dodać konta użytkowników. Najwygodniej
              jest to zrobić dodając konkretne osoby do zdefiniowanych stanowisk.
            %p
              Pracownicy po otrzymaniu powitalnej wiadomości email będą mogili ustawić
              hasło dla swojego konta. Umożliwi im to zalogować się do aplikacji mobilnej
              na tablecie.
            %p
              Kolejnym krokiem jest dodanie materiałów marketingowych do centralnej Biblioteki.
              Pliki prezentacji automatycznie zostaną skopiowane na tablety przedstawicieli.
            %p
              Po wykonaniu powyższych kroków aplikacja Example jest gotowa do pracy.
              Przedstawiciele mogą prezentować materiały marketingowe, a pracownicy
              działu marketingu analizować statystyki oglądalności.

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqChooseRole")
              %i.icon-help.position-left.text-slate
              Co to są role i jak zmienić rolę?
        .panel-collapse.collapse#rwc-FaqChooseRole
          .panel-body
            %p
              Niektórzy użytkownicy do swojego konta mają przypisanych kilka ról.
              Rola określa poziom (a) dostępu do danych użytkowników i (b) jakie
              akcje można wykonać.
            %p
              Np. Dyrektor posiada dostęp do wszystkich danych przypisanych pracowników.
              Przedstawiciel ogląda tylko swoje dane. Administrator ma możliwość
              edycji danych użytkowników i dodawania nowych kont.
            %p
              Po zalogowaniu się do aplikacji i rozwinięciu menu w górnym prawym
              rogu ekranu, widoczna lista lista akcji (Ustawienia, Wyloguj).
              Jeśli użytkownik posiada więcej niż jedną rolę wtedy lista ról
              widoczna jest na górze listy.

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqUserManagement")
              %i.icon-help.position-left.text-slate
              Jak administrować użytkownikami?
        .panel-collapse.collapse#rwc-FaqUserManagement
          .panel-body
            %p
              Administracja użytkownikami jest dostępna tylko z poziomu roli administratora.
              Z menu, z lewej strony dostępne są ekrany Użytkownicy i Stanowiska.
            %p
              Hierarchia służbowa jest niezależna od kont użytkowników. Na początku należy
              stworzyć hierarchię stanowisk a następnie przypisać użytkowników do stanowisk.
            %p
              Podczas dodawania nowego użytkownika należy podać jego imię, nazwisko, adres email
              i nr telefonu komórkowego. Na podany adres email zostanie wysłana powitalna
              wiadomość wraz z linkiem do ustawienia hasła. Nowy użytkownik po otwarciu wiadomości
              i kliknięciu na link otrzyma SMS z kodem który umożliwia ustawienie hasła.
            %p
              Rola Administratora powinna być przypisana maksymalnie do kilku wybranych osób z firmy.

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqAppInstall")
              %i.icon-help.position-left.text-slate
              Jak zainstalować aplikację mobilną na tablecie?
        .panel-collapse.collapse#rwc-FaqAppInstall
          .panel-body
            %p
              Aplikacja mobilna Example jest dostępna dla urządzeń z system Android.
              Aplikację instaluje się ze sklepu
              <a href="https://play.google.com/store/apps/details?id=com.example.mobi" target="_blank">Google Play</a>.
            %p
              Po zainstalowaniu aplikacji należy zalogować się na swoje konto, utworzone
              wcześniej przez administratora. Adres email i hasło są takie same jak
              do logowania się do aplikacji Example dostępnej przez przeglądarkę internetową.

  .col-lg-6

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqAddPresentation")
              %i.icon-help.position-left.text-slate
              Jak dodać nowe prezentacje?
        .panel-collapse.collapse#rwc-FaqAddPresentation
          .panel-body
            %p
              Przejdź do menu Prezentacje > Biblioteka. Kliknij na przycisk "Dodaj plik".
              Po otwarciu okna dialogowego będziesz mógł wybrać plik i go zapisać do biblioteki.
            %p
              Pamiętaj, że prezentacje (PowerPoint i inne) powinny być zapisane jako pliki PDF.
              W przypadku filmów wideo upewnij się, że tablety w Twojej firmie są w stanie odegrać
              te pliki wideo.
            %p
              W przypadku większej liczy materiałów promocyjnych, warto jest stworzyć
              katalogi na poszczególne kategorie prezentacji. W Bibliotece służy do tego przycisk
              "Dodaj katalog".
            %p
              Po dodaniu plików prezentacji do Biblioteki, możesz zmieniać nazwy tych plików i
              przenosić je do innych katalogów. W kolumnie "Akcje" znajdują się linki do tych operacji.
            %p
              Prezentacje automatycznie kopiują się tablety użytkowników na których zainstalowana
              jest aplikacja mobilna Example.

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqMobilePresenter")
              %i.icon-help.position-left.text-slate
              Jak obejrzeć prezentacje na tablecie?
        .panel-collapse.collapse#rwc-FaqMobilePresenter
          .panel-body
            %p
              Prezentacje dodane do Biblioteki są automatycznie kopiowane na tablety.
              Po otwarciu mobilnej aplikacji Example, należy przejść do ekranu "Slajdy".
              Na tym ekranie mamy dostęp do wszystkich plików. Otwarcie prezentacji
              automatycznie powoduje naliczanie statystyk oglądalności.
            %p
              Po otwartej prezentacji można łatwo nawigować. Wystarczy dotknąć ekran w
              jego środkowej części, aby pokazało się dodatkowe menu. Na dole ekranu
              dostępny jest pasek szybkiego dostępu do każdej strony prezentacji. W
              górnym prawym rogu ekranu znajdują się przyciski do
              %ul
                %li wyświetlenia spisu treści
                %li wyszukiwania ciągu znaków
                %li uaktywnienia linków w prezentacji (np. linków z zewnętrznych stron www)

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqShowReports")
              %i.icon-help.position-left.text-slate
              Jak sprawdzić oglądalność prezentacji?
        .panel-collapse.collapse#rwc-FaqShowReports
          .panel-body
            %p
              Statystyki oglądalności automatycznie kopiują się do bazy centralnej. Pamiętaj jednak, że
              są one wysyłane z opóźnieniem około jednej godziny.
            %p
              Raporty oglądalności dostępne są w menu Prezentacje. Po wybraniu raporty, użyj filtrów
              dostępnych w górnym prawym rogu ekranu aby wybrać prezentację, okres analizy lub zespół.

    .panel-group.panel-group-control.panel-group-control-right
      .panel.panel-white
        .panel-heading
          %h6.panel-title
            %a.collapsed(data-toggle="collapse" href="#rwc-FaqLinkStats")
              %i.icon-help.position-left.text-slate
              Drobna zmiana w prezentacji, jak połączyć statystyki?
        .panel-collapse.collapse#rwc-FaqLinkStats
          .panel-body
            %p
              Często zdarza się, że w prezentacji zmienia się tylko wyrazów, poprawia się kilka literówek.
              W takich przypadkach jest możliwość połączenia statystyk podobnych prezentacji.
              Na ekranie Menu > Łącznie znajdują się narzędzia przyłączenia statystyk wybranej prezentacji
              do innej prezentacji.

