<p>
  W odpowiedzi na prośbę zmiany hasła przesyłamy bezpieczny link który służy do
  przesłania SMS'a na nr <%= @phone %> zawierającego hasło jednorazowe.
</p>
<p>
  Kliknij na <strong>
  <%= link_to 'TEN LINK', token_password_url(host: @host, email: @email, token: @token, category: @category) %>
  </strong>
  aby wysłać SMS i przejść na stronę weryfikacji przesłanego hasła.
</p>
