<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p style="font-size: 90%; margin-top: 1em; color: gray;">
      ---
      <br/>
      Jest to automatycznie wygenerowana wiadomość przez serwis
      <a href="https://www.example.com" style="color: gray;">Example</a>
    </p>
  </body>
</html>
